antiorm==1.2.1
asgiref==3.8.1
attrs==20.3.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
db==0.1.1
db-sqlite3==0.0.1
Django==5.0.4
idna==3.6
jellyfish==0.11.2
lib50==3.0.11
markdown2==2.4.13
packaging==24.0
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
pycparser==2.21
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
submit50==3.1.4
termcolor==1.1.0
typing_extensions==4.10.0
urllib3==2.2.1
