{% extends "network/layout.html" %}
{% block body %}
    <h2>Following</h2>

    {% for post in posts %}
        <div class="post-container">
            <div class="post">
                <p>
                    <strong><a href="{% url 'profile' post.user.username %}">
                        {{ post.user.username }}</a></strong> 
                    - {{ post.timestamp }}  
                </p>
                <p>{{ post.content }}</p>
            </div>
        </div>
    {% endfor %}

    {% if not posts %}
        <p>You are not following any users yet.</p>
    {% endif %}

{% endblock %}